
<div class="container">
  <h2>Wind Assets</h2>

  <div class="row">

    <div class="col-12">
      <div class="card-deck">
        <div class="card border-dark mb-3" style="max-width: 18rem;">
          <div class="card-header">Jath Site</div>
          <div class="card-body text-dark">

            <p class="card-text">Turbine Count: 15</p>
            <p class="card-text">Type: 15</p>
            <p class="card-text">Commisioning Date: Feb 2015</p>

            <div class="dropdown">
              <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Actions
              </button>
              <div class="dropdown-menu">

                <a class="dropdown-item" href="tmaster.xlsx">Export as CSV</a>
                <a class="dropdown-item" target="_blank" href="cdetails.html">View Complete Details</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" routerLink="/turbine" >Turbine Info</a>
                <a class="dropdown-item" href="bpanel.html">Bottom Panel/PLC/Lift</a>
                <a class="dropdown-item" href="ups.html">UPS/Switchgear Panel/Nacelle/Transformer</a>
                <a class="dropdown-item" routerLink="/generator" >Generator</a>
                <a class="dropdown-item" href="couplingAndGearbox.html">Coupling and Gearbox</a>
                <a class="dropdown-item" href="toppanel_hydraulics.html">Top panel and Hydraulics</a>
                <a class="dropdown-item" href="hub_yaw.html">Hub and Yaw</a>
                <a class="dropdown-item" href="pitchandspinner.html">Pitch & Spinner</a>
                <a class="dropdown-item" href="blades.html">Blade</a>
                <a class="dropdown-item" href="converter.html">Converter</a>
                <a class="dropdown-item" href="ccb.html">CCB</a>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
