<app-header></app-header>


<div class="container">
  <h2>Turbine Info</h2>
  <div class="row">
    <div class="col-2"></div>
    <div class="col-8">
      <form>
        <div class="form-group">
          <label for="exampleInputEmail1">Name</label>
          <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="name">

        </div>
        <div class="form-group">
          <label for="exampleInputEmail1">Location Num</label>
          <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter GPS">

        </div>
        <div class="form-group">
          <label for="exampleInputPassword1">Commissioning date</label>
          <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Date">
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1">Turbine type (ST, HT, ST+)
          </label>
          <select class="form-control" id="exampleFormControlSelect1">
            <option>ST</option>
            <option>HT</option>
            <option>ST+</option>

          </select>
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1">Feeder Number</label>
          <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Number">
        </div>

        <div class="form-group">
          <label for="exampleInputPassword1">Pooling SS
          </label>
          <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Number">
        </div>

        <div class="form-group">
          <label for="exampleInputPassword1">Hub height</label>
          <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Number">
        </div>

        <div class="form-group">
          <label for="exampleInputPassword1">Nacelle ID
          </label>
          <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Number">
        </div>

        <div class="form-group">
          <label for="exampleInputPassword1">Tower manufacturer</label>
          <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Number">
        </div>

        <div class="form-group">
          <label for="exampleInputPassword1">T1 Sr Num</label>
          <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Number">
        </div>

        <div class="form-group">
          <label for="exampleInputPassword1">T2 Sr Num</label>
          <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Number">
        </div>

        <div class="form-group">
          <label for="exampleInputPassword1">Status
          </label>
          <select class="form-control" id="exampleFormControlSelect1">
            <option>Active</option>
            <option>Under Repair</option>
            <option>Retired</option>

          </select>
        </div>
        <button type="submit" class="btn btn-primary btn-block">Submit</button>
      </form></div>
    <div class="col-2"></div>
  </div>

  <hr>
  <div class="row">
    <div class="col-2"></div>
    <div class="col-8">
      <h2>Turbine History</h2>
      <table class="table table-striped">

        <tbody>
        <tr>
          <th scope="row">Turbine Name</th>
          <th>Decommisioning Date</th>
          <th>Status</th>
        </tr>
        <tr>
          <td >T21</td>
          <td>01-May-2018</td>
          <td>Under Repair</td>
        </tr>
        <tr>
          <td>T231</td>
          <td>01-May-2017</td>
          <td>Retired</td>
        </tr>
        </tbody>
      </table>

    </div>
    <div class="col-2"></div>
  </div>
</div>
